
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins', cursive;
    margin: 1;
    /* font-size: 1rem; */
}

body {
    background-color: rgb(220,220,220) ;
}

caption {
    color: aquamarine;
}

.top-text {
    display: flex;
}

img {
    width: 300px;
    display: inline;
    float: left;
}
 
table, th, td { 
    background: burlywood;
    border: 1px solid gray; 
    display: inline-block;
    margin-left: 1px;
} 


#likes {
    display: inline-block;
}

#likes li:hover:nth-child(1) {
    color: yellow;
}

#likes li:hover:nth-child(2) {
    color: green;
}

#likes li:hover:nth-child(3) {
    color: orange;
}

#likes img {
    width: 200px;
    float: right; 
}

#treat-section {   
    width: 100px;
    display: inline;
}

#description {
    background: wheat;
    font-weight: 300;
}
